<div class="masthead">
  <div class="languages">
    <div class="language">
      <a href="#">CSS</a>
      <a href="#">HTML</a>
      <a href="#">Javascript</a>
      <a href="#">Ruby</a>
    </div>
  </div>

  <hr id="separator-1">
  <hr id="separator-2">

  <img src="assets/AA_Times_Logo.png">

  <div class="daily-info">
    <ul>
      <li>Tuesday, October 18, 2016</li>

      <li>
        <a href="#">
          <i class="fa-sharp fa-solid fa-newspaper"></i>
          <span>Today's Paper</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa-solid fa-video"></i>
          <span>Video</span>
        </a>
      </li>

      <li>77°F</li>
      <li>AAO <strong>+100%</strong></li>
    </ul>
  </div>
</div>